.logo__light {
    color: var(--text-color);
}
.logo__dark {
    color: #000;
}

.logo {
    color: var(--accent-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
}

.header__logo {
    
    margin-right: 88px;

    @media screen and (min-width: 768px) {
        margin-top: 26px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 93px;
        margin-bottom: 25px;
    }
}