.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
    transition: visibility var(--animation), opacity var(--animation);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.7);
}
.modal {
    position: absolute;
    width: 450px;
    // width: 528px;
    // height: 581px;
    left: 50%;
    top: 50%;
    padding: 40px;

    transform: translate(-50%, -50%) scale(1);

    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform var(--animation), opacity var(--animation);

    @media screen and (min-width: 1200px) {
            min-width: 528px;
            min-height: 581px;
        }
}


.modal-close {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 6px;
    background-color: var(--text-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: fill 250ms var(--animation);
}
.modal-title {
    margin-bottom: 12px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    
    text-align: center;
    width: 370px;
    height: 23px;
    left: 576px;
    top: 262px;
    letter-spacing: 0.03em;
    color: #212121;

    @media screen and (min-width: 1200px) {
        width: 448px;
    }
    
}

.modal-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.modal-form input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 6px 10px;
}
/* имя */
.form-label {
    display: block;
    position: relative;
    margin-bottom: 10px;
}
.form-label-name {
    display: block;
    position: relative;
    margin-bottom: 4px;
    text-align: left;
    font-size: 12px;
    line-height: 0.85;
    letter-spacing: 0.01em;
    color: var(--secondary-color);
}
.form-label-text {
    display: block;
    position: relative;
    margin-bottom: 4px;
    text-align: left;
    font-size: 12px;
    line-height: 0.85;
    letter-spacing: 0.01em;
    color: #757575;
}
.form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    background-color: #ffffff;
    border-radius: 4px;
    padding: 10px;
    padding-left: 42px;
    padding-right: 42px;
    outline: transparent;
    transition: border-color 250ms var(--accent-color);
}

.form-input:focus {
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    padding-left: 42px;
    padding-right: 42px;
}

.form-input:focus+.modal-icon {
    fill: var(--accent-color);
}
/* коментарий */
.register-form {
    width: 370px;
    height: 120px;
    font-size: 12px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color var(--accent-color);
    resize: none;
    padding: 12px 16px;

    @media screen and (min-width: 1200px) {
        width: 448px;
    }
}

.register-form:focus {
    border-color: 1px solid var(--accent-color);
}
/* галочка четбокс */
.register-checkbox:checked+.form-checkbox-icon>.form-modal-checkbox-check {
    opacity: 1;
}

.form-modal-checkbox-check {
    opacity: 0;
}

.modal-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.reg-form {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 423px;
    height: 24px;
}
.form-agreement-text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    user-select: none;
    color: #757575;
}

.form-agreement-link {
    color: var(--accent-color);
    text-decoration: underline;
    text-underline-position: under;
}

.modal-form-spec {
    opacity: 1;
}