.container {
    // breakpoints:
    // mobile: 480px;
    // tablet: 768px;
    // desktop: 1200px;

    // mobile style
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;

    // tablet style
    @media screen and (min-width: 768px) {
        max-width: 768px;

    }
    

    // desktop style
    @media screen and (min-width: 1200px) {
        max-width: 1200px;
       
    }
     
    
}
.box {
    display: flex;
    align-items: center;
}
/* контейнеры в футерe */
.footer>.container {
    display: flex;
    align-items: baseline;
}
