.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.box {
    display: flex;
    align-items: center;
}
/* контейнеры в футерe */
.footer>.container {
    display: flex;
    align-items: baseline;
}