.overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, var(--linear-gradient), var(--linear-gradient)),
        url(../images/img_sm@1x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #757575;
    padding-top: 200px;
    padding-bottom: 200px;

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/img_sm@2x.jpg);
        }

    // tablet images

    @media screen and (min-width:481px) {
        background-image: url(../images/img_mg@1x.jpg);

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/img_mg@2x.jpg);
        }
        
    }

     // desktop images
    
    @media screen and (min-width:769px) {
        background-image: url(./images/img_lg-@1x.png);
    
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(./images/mg_lg-@2x.png);
                  
        }
    
          }
}